# General
**/.env*
.vscode
tasks.md
prototyping.ipynb
.venv

# Server
*.egg-info
**/__pycache__
**/.pytest_cache
htmlcov
src/server/logs
src/server/models/website_clf_chkpts

# Client
src/client/dist
src/client/node_modules
src/client/.pnp
src/client/.pnp.*
src/client/.yarn/*
src/client/!.yarn/patches
src/client/!.yarn/plugins
src/client/!.yarn/releases
src/client/!.yarn/versions
## typescript
src/client/*.tsbuildinfo
src/client/next-env.d.ts
## testing
src/client/coverage
## next.js
src/client/.next/
src/client/out/
## production
src/client/build
## misc
src/client/.DS_Store
src/client/*.pem
## debug
src/client/npm-debug.log*
src/client/yarn-debug.log*
src/client/yarn-error.log*
src/client/.pnpm-debug.log*
# vercel
src/client/.vercel